@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-xs: 319px;
  --breakpoint-mobile: 475px;
  --breakpoint-desktop: 1440px;
  --breakpoint-mini: 520px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-roboto: "Roboto"; 
  --font-michroma: "Michroma"; 
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-greatvibes: "Great Vibes", cursive;

  --color-silver: #d9d9d9;
  --color-mid: #979797;
  --color-smoke: #848884;
  --color-dark: #444444;
  --color-darker: #1c1c1c;
  --color-darkest: #0d0d0d;
  --color-deep: #080808;
  --color-deeper: #030303;
  --color-deepest: #000300;

  --color-softOrange: #F6AD55; /* testing color*/
  --color-alternate: #E9DDC7;

  --color-secondary: rgba(252,124,57,0.17);
  --color-secondary-hover: #5A3EC8;
  --color-secondary-dark: #111111;
  --color-secondary-dark-hover: #111111;

  --color-background: #121212;        /* App background */
  --color-light: #eeeeee;        /* light background */
  --color-dark: #121212;        /* dark background */

  --color-error: #B00020; /* #FF6B6B*/
  --color-error-dark: hsla(351, 57%, 62%, 1); /* #D06679; */
  --color-success-dark: hsla(150, 57%, 62%, 1); /* #78CCAA; */

  --color-low-white: #eeeeee;
  --color-whitesmoke: #F5F5F5;

  --color-level-0:  #171717; /* 00dp */
  --color-level-1:  #1b1b1b; /* 01dp */
  --color-level-2:  #252525; /* 02dp */
  --color-level-3:  #242424; /* 03dp */
  --color-level-4:  #222222; /* 04dp */
  --color-level-6:  #222222; /* 06dp */
  --color-level-8:  #2c2c2c; /* 08dp */
  --color-level-12: #2b2b2b; /* 12dp */
  --color-level-16: #0c0c0c; /* 16dp */
  --color-level-24: #0b0b0b; /* 24dp */

  --text-fluid-xs: clamp(0.75rem, 1.5vw, 0.875rem);
  --text-fluid-sm: clamp(0.875rem, 2vw, 1rem);
  --text-fluid: clamp(1rem, 2.5vw, 1.125rem);
  --text-fluid-lg: clamp(1.125rem, 3vw, 1.5rem);
  --text-fluid-xl: clamp(1.5rem, 4vw, 2rem);
  --text-fluid-2xl: clamp(2rem, 5vw, 2.5rem);
  --text-fluid-3xl: clamp(2.5rem, 6vw, 3rem);
  --text-fluid-4xl: clamp(3rem, 7vw, 3.75rem);
  --text-fluid-5xl: clamp(3.75rem, 8vw, 4.5rem);
  --text-fluid-6xl: clamp(4.5rem, 10vw, 6rem);

  --animate-slide-left: slide-left 300ms ease-in forwards;
  --animate-slide-right: slide-right 300ms ease-in forwards;
  --animate-ghostIn: ghostIn 300ms ease-in forwards ;
  --animate-ghostOut: ghostOut 300ms ease-out forwards;
  --animate-slide: slide 20s ease-in-out infinite;
  --animate-fadeOut: fadeOut 200ms ease-out forwards;
  --animate-fadeIn: fadeIn 200ms ease-in forwards;
  --animate-progress: fill 1800ms ease-in-out forwards;
  --animate-slideIn: slideLeft 300ms ease-in-out forwards;
  --animate-slideOut: slideRight 300ms ease-in-out forwards;

  @keyframes slideLeft {
    from {
      transform: translateX(100%); /* start completely offscreen right */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* end in place */
      opacity: 1;
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(0); /* start completely offscreen right */
      opacity: 0;
    }
    to {
      transform: translateX(100%); /* end in place */
      opacity: 1;
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(42vw);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-right {
    from {
      transform: translateX(-42vw);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes ghostOut {
    0% {
      opacity: 1;
      filter: blur(0px);
      transform: scale(1);
    }
    50% {
      filter: blur(4px);
      transform: scale(0.5);
    }
    100% {
      opacity: 0;
      filter: blur(8px);
      transform: scale(0);
    }
  }

  @keyframes ghostIn {
    0% {
      opacity: 0;
      filter: blur(8px);
      transform: scale(0);
    }
    50% {
      filter: blur(4px);
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: scale(1);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      filter: blur(0px);
      display: inline;
    }
    100% {
      opacity: 0;
      filter: blur(8px);
      display: hidden;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(8px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }

  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  html {
    scroll-behavior: smooth;
    background-color: var(--color-deep)
  }

  body {
    overflow-x: hidden;
  }

    /* Hide number input spinners across browsers */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;      /* Modern browsers */
  }

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility centered {
  @apply flex flex-row justify-center items-center; 
}

@utility centered {
  @apply flex flex-row justify-center items-center;
}

@utility centered-col {
  @apply flex flex-col justify-center items-center;
}

@utility spaced {
  @apply flex flex-row justify-between items-center;
}

@utility spaced-col {
  @apply flex flex-col justify-between items-center;
}

@utility evenly {
  @apply flex flex-row justify-evenly items-center;
}

@utility evenly-col {
  @apply flex flex-col justify-evenly items-center;
}

@utility scrollbar-adjust {
  @apply scrollbar-thin dark:scrollbar-thumb-white/38 scrollbar-thumb-black/38  scrollbar-track-transparent dark:hover:scrollbar-thumb-white/60 hover:scrollbar-thumb-black/60;
}

@utility snappy {
  @apply duration-300 hover:cursor-pointer ease-in-out;
}

@utility bg-img {
  @apply bg-center bg-no-repeat;
}

@utility normal-space {
  @apply px-3 py-2;
}

@utility p-fluid {
  @apply xs:px-4 md:px-[clamp(1.5rem,10vw,17rem)] ;
}

@utility text-main {
  @apply dark:text-white/87 text-black/87;
}

@utility text-else {
  @apply dark:text-white/60 text-black/60;
}

@utility text-disabled {
  @apply dark:text-white/38 text-black/38;
}

@utility background {
  @apply dark:bg-background bg-[#ececec];
}

@utility primary-color {
  @apply  snappy text-deep
}

@utility surface-1 {
  @apply dark:bg-level-1 dark:shadow-none shadow-sm bg-white;
}

@utility surface-2 {
  @apply dark:bg-level-3 dark:shadow-none shadow-md bg-white;
}

@utility surface-3 {
  @apply dark:bg-level-8 dark:shadow-none shadow-lg bg-white
}

@utility surface-4 {
  @apply dark:bg-level-12 dark:shadow-none shadow-xl bg-white
}

@utility surface-disabled {
  @apply dark:bg-level-1  bg-mid/30 dark:border-white/8 border-black/12 dark:text-white/38 text-black/38;
}

@utility divide-adjust {
  @apply dark:divide-white/12 divide-black/12
}

@utility border-adjust {
  @apply dark:border-white/12 border-black/23
}

@utility border-disabled {
  @apply dark:border-white/8 border-black/12
}

@utility ring-adjust {
  @apply dark:ring-white/12 ring-black/23
}

@utility page {
  @apply bg-low-white dark:bg-[#020035]
}

@utility first-crumb {
  clip-path: polygon(0% 0%, 89% 0, 100% 50%, 89% 100%, 0% 100%);
}

@utility other-crumb {
  clip-path: polygon(89% 0, 100% 50%, 89% 100%, 0% 100%, 11% 49%, 0% 0%);
}

@utility page-layout {
  @apply min-h-dvh w-dvw centered bg-darker
}

@utility display-layout {
  @apply min-h-dvh bg-deeper  xs:w-screen  md:w-[85dvw] lg:w-[70dvw] px-6 text-whitesmoke pb-12 flex flex-col
}

@layer utilities {
  .border-fade-inner {
    @apply border border-transparent rounded-md; /* border-width 1px, solid, transparent, border-radius 0.5rem */

    background:
      linear-gradient(130deg, #0d0d0d 25% , #000 75%) padding-box,
      linear-gradient(to bottom right, #d4d4d4 5%, #000 55%) border-box;
  }

  .border-fade-outter {
    @apply border border-transparent rounded-md;

    background:
      linear-gradient(#000, #000) padding-box,
      linear-gradient(130deg, #1c1c1c 0%, black 65%) border-box;
  }

  .first-crumb {
    clip-path: polygon(0% 0%, 89% 0, 100% 50%, 89% 100%, 0% 100%);
  }

  .other-crumb {
    clip-path: polygon(89% 0, 100% 50%, 89% 100%, 0% 100%, 11% 49%, 0% 0%);
  }

}

/* ---break---*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

/* ---break---*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

/* ---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}